.f-s-main-text {
    font-size: 28px;
}

.f-s-main-desc {
    font-size: 16px;
}

.f-s-main-text {
    font-size: 28px;
}

.f-s-main-quantity {
    font-size: 22px;
}

.f-s-main-quantity-desc {
    font-size: 16px;
}

.m-g-title-desc {
    margin-bottom: 40px;
}
.m-g-t-b-for-4-6-8{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* .m-g-component-title-desc{
    margin-bottom: 10px;
} */

/* for 2 -> n section */
.f-s-section-title {
    font-size: 28px;
}

.f-s-section-desc {
    font-size: 16px;
}

.f-s-component-desc {
    font-size: 12px;
}

.size-of-image {
    width: 100px;
    height: 100px;
}

.height-input-button {
    height: 46px;
}

.astronaut {
    width: 315px;
    height: 255px;
}

.m-g-t-input-button {
    margin-top: 16px;
}

.m-g-t-30 {
    margin-top: 30px;
}

.m-t-divider{
    margin-top: 30px;
}

/* table */
@media (min-width: 834px) {
    .f-s-main-text {
        font-size: 38px;
    }

    .f-d {
        flex-direction: column;
    }

    .size-of-image {
        width: 100%;
        height: unset;
    }

    .p-d-40-30 {
        padding: 40px 30px;
    }

    .astronaut {
        width: 300px;
        height: 328px;
        padding-right: 30px;
    }

    .b-g-c-very-dark-gray {
        background: #3b3b3b;
    }
    .m-b-80{
        margin-bottom: 80px !important;
    }
    .m-t-divider{
        margin-top: 50px;
    }
    .m-g-t-b-for-4-6-8{
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

/* PC medium resolution > */
@media (min-width: 1280px) {
    .f-s-main-text {
        font-size: 67px;
    }

    .f-s-main-desc {
        font-size: 22px;
    }

    .f-s-main-quantity {
        font-size: 28px;
    }

    .f-s-main-quantity-desc {
        font-size: 24px;
    }

    .m-g-title-desc {
        margin-bottom: 40px;
    }

    /* for 2 -> n section */
    .f-s-section-title {
        font-size: 38px;
    }

    .f-s-section-desc {
        font-size: 22px;
    }

    .f-s-component-desc {
        font-size: 16px;
    }

    .p-d-60 {
        padding: 60px;
    }

    .astronaut {
        width: 425px;
        height: 310px;
        padding-right: 80px;
    }

    .position-absolute-none {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
    }

    .height-input-button {
        height: 60px;
    }

    .m-g-t-input-button {
        margin-top: 0;
    }
    .m-g-t-b-for-4-6-8{
        margin-top: 80px;
        margin-bottom: 80px;
    }
}