.f-s-main-text {
    font-size: 28px;
}

.f-s-main-desc {
    font-size: 16px;
}

.f-s-main-text {
    font-size: 28px;
}

.f-s-main-quantity {
    font-size: 22px;
}

.f-s-main-quantity-desc {
    font-size: 16px;
}

.m-g-title-desc {
    margin-bottom: 40px;
}

/* .m-g-component-title-desc{
    margin-bottom: 10px;
} */

/* for 2 -> n section */
.f-s-section-title {
    font-size: 28px;
}

.f-s-section-desc {
    font-size: 16px;
}

.f-s-component-desc {
    font-size: 12px;
}

.size-of-image {
    width: 100px;
    height: 100px;
}

/* table */
@media (min-width: 834px) {
    .f-s-main-text {
        font-size: 38px;
    }

    .f-d {
        flex-direction: column;
    }
    .size-of-image {
        width: 100%;
        height: unset;
    }
}

/* PC medium resolution > */
@media (min-width: 1280px) {
    .f-s-main-text {
        font-size: 67px;
    }

    .f-s-main-desc {
        font-size: 22px;
    }

    .f-s-main-quantity {
        font-size: 28px;
    }

    .f-s-main-quantity-desc {
        font-size: 24px;
    }

    .m-g-title-desc {
        margin-bottom: 40px;
    }

    /* for 2 -> n section */
    .f-s-section-title {
        font-size: 38px;
    }

    .f-s-section-desc {
        font-size: 22px;
    }

    .f-s-component-desc {
        font-size: 16px;
    }

}